body {
    margin: 0 auto;
    font-family: sans-serif;
}
.nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgb(9, 61, 109, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo {
    width: 103px;
    height: 80px;
}
.list-item {
    display: inline-block;
    /*text-decoration: none;*/
    /*color: yellow;*/
}
.list-item a {
    text-decoration: none;
    color: yellow;
}
.list-item a:hover {
    color: red;
    background-color: blue;
}
.nav-list {
    height: 70%;
    width: 200px;
    float: right;
    text-align: center;
}

.container {
    height: 500px;
    width: 100%;
    margin-top: 150px;
    /*position: relative;*/
}
.col-column {
    height: 500px;
    width: 30%;
    border: 3px solid yellow;
    float: left;
    margin-left: 25px;
    /*margin-bottom: 25px;*/
}
.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(9, 61, 109, 0.5);
    clear: left;
}
.footer-col {
    float: left;
    width: 33%;
    text-align: center;
}
.submit-button, .submit, .fab {
    margin-top: 12px;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-instagram {
    color: #fb3958;	
}
.map, .form {
    margin-bottom: 20px;
}
.about-audio, .about-img, .about-video {
    display: block;
    margin: auto;
    margin-top: 20px;
}
.about-text {
    margin: 25px;
}
.about-video {
    width: 99%;
}